*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 10px;
    

}
body{
    background-color: white;
    overflow-x: hidden;
 

}

header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2.7rem;
}

.logo{
    width: 4rem;
    height: 4rem;
    margin-right: 13.65rem;
    margin-left: 2.4rem;
    

}
.pre-order1{
    background-color: #E8EFF2;
    border-radius: 0.8rem;
    width: 15rem;
    height: 4.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-right: 2.45rem;
    font-family: 'Barlow';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 26px;
text-transform: uppercase;
color: #162542;
border: none;
cursor: pointer;
}


.pre-order1:hover{
    background-color: #162542;
    color: white;
    
   
}

.title>h1{
    text-transform: uppercase;
    color: #162542;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 48px;
    text-align: left;
}
.title{
    min-width: 32.7rem;
    height: 9.6rem;
    margin-top: 6.8rem;
    margin-left: 2.4rem;
    margin-right: 2.4rem;

}
.paragraph{
    min-width: 32.7rem ;
    height:7.2rem ;
    margin-top: 3.2rem;
    margin-left: 2.4rem;
    margin-right: 2.4rem;
}
.paragraph>p{
    font-family: 'Barlow';
font-size: 16px;
font-weight: 500;
line-height: 26px;
letter-spacing: 0px;
text-align: left;
color: #7B8BAD;
}
.pre-order2{
    border-radius: 0.8rem;
    width: 15rem;
    height: 4.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: #F16718;
    cursor: pointer;
}
.pre-order2:hover{
    opacity: 0.5;
}
.pre-order2>h2{
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
    color: white;

}
.active{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 2.4rem;
    margin-right: 4.2rem;
    margin-top: 3.2rem;
}

.release-on{
    width: 12.7rem;
    height: 2.6rem;

}
.release-on>h2{
    color: #7B8BAD;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
 }

 .keyboard{
    width: 44.233rem;
    height: 40.966rem;
    position: absolute;
    left: -6.733rem;
    top: 44.543rem;
    overflow: hidden;
 }
.keyboard-photo{
    width: 37.2rem;
    height: 33.1rem;
    border-radius: 2rem;
    margin-left: 9.133rem;
    margin-top: 3.957rem;
}

.images{
    display: flex;
    flex-direction: row;
    column-gap: 1.351rem;
}
.image1{
    width: 14.4rem;
    height: 22.6rem;
    position: absolute;
    top: 84rem;
    left: -3.203rem;
    background-color: white;
    mix-blend-mode: multiply;
 
}
.orange{
    width: 12.9rem;
    height: 19.3rem;
    border-radius: 2rem;
    margin-left: 1.003rem;
    background-color:#F16718;
}
.phone-keyboard{
    width: 12.9rem;
    height: 19.3rem;
    border-radius: 2rem;
    
    mix-blend-mode:multiply;
}


.image2{
    width: 44rem;
    height: 33rem;
    position: absolute;
    top: 74.518rem;
    left: 12.548rem ;
}

.glass-keyboard{
    width: 22rem;
    height: 19.3rem;
    border-radius: 2rem;
    margin-left: 0.552rem;
    margin-top: 9.482rem;
    
}
.section2{
    position: absolute;
    top: 110.8rem;
}
.title2>h1{
    font-family: 'Barlow';
font-size: 32px;
font-weight: 900;
line-height: 36px;
letter-spacing: 0px;
text-align: center;
color: #162542;

}
.paragraph2>p{
    font-family: 'Barlow';
font-size: 16px;
font-weight: 500;
line-height: 26px;
letter-spacing: 0px;
text-align: center;
color:#7B8BAD;

}
.title2{
    width: 25.5rem;
    height: 10.8rem;
    
    margin-left: 6rem;
    margin-bottom: 2.4rem;
}
.paragraph2{
    
    margin-left: 2.4rem;
    margin-right: 2.4rem;
}
.whole{
    position: absolute;
    top: 145.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 6.4rem;
}
.icon{
    width: 6.5rem;
    height: 6.5rem;
    border-radius: 1.6rem;
    background-color: #F16718;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4.8rem;
}
.container1,
.container2,
.container3,
.container4{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    font-family: 'Barlow';
font-size: 24px;
font-weight: 900;
line-height: 28px;
letter-spacing: 0px;
text-align: center;
color: #162542;
text-transform: uppercase;

}
p{
    font-family: 'Barlow';
font-size: 16px;
font-weight: 500;
line-height: 26px;
letter-spacing: 0px;
text-align: center;
color: #7B8BAD;
}

.title3,
.title4,
.title5,
.title6{
    width: 32.7rem;
    height: 5.6rem;
    margin-bottom: 2.4rem;
}
.paragraph3,
.paragraph4,
.paragraph5,
.paragraph6{
    margin-left: 2.4rem;
    margin-right: 2.4rem;
}
.last-container{
    position: absolute;
    top: 293.1rem;
    left: 5.1rem;
    
    
}
span{
    font-weight: 700;
}
.bold{
    margin-bottom: 5rem;
}
.keyboard-tablet,
.tablet-phone-keyboard,
.tablet-glass-keyboard,
.keyboard-desktop,
.gray,
.desktop-phone-keyboard,
.desktop-glass-keyboard{
    display: none;
}


@media screen and (min-width: 770px) {
  
    header{
         margin-top: 4.9rem;
     }
     .logo{
         margin-left: 3.9rem;
     }
     .pre-order1{
         margin-right: 4rem;
         width: 17.5rem;
         height: 5.8rem;
     }
   
     .text-photo{
         display: flex;
         flex-direction: row;
     }
     .title{
         width: 33.9rem;
         height: 9.6rem;
         margin-top: 13.1rem;
     }
     .paragraph{
         width: 33.9rem;
         height: 7.8rem;
     }
     .pre-order2{
         width: 17.5rem;
         height:5.8rem ;
     }
     .keyboard{
         position:absolute;
         width: 93.4rem;
         height: 52.6rem;
         
         left: 32.964rem;
         top: 7.453rem;
       
         
     }
     .keyboard-tablet{
         display: block;
         width: 47.8rem;
         height: 42.5rem;
         border-radius: 2rem;
         margin-top:8.5rem;
         margin-left: 11.736rem;
     }
     .keyboard-photo,
     .phone-keyboard,
     .glass-keyboard{
         display: none;
         
     }
     .image1{
         width: 35.4rem;
         height: 55.4rem;
         top: 50.8rem;
         left: -7.42rem;
      
     }
     .tablet-phone-keyboard{
         display: block;
         width: 21.4rem;
         height: 32rem;
         border-radius: 2rem;
         mix-blend-mode: multiply;
         
         
     }
     .orange{
         width: 21.4rem;
         height: 32rem;
         margin-top: 11.7rem;
         margin-left: 9.32rem;
     }
     .image2{
         width: 89.5rem;
         height: 67.1rem;
         top: 41.043rem;
         left: 28.25rem;
        
     }
     .tablet-glass-keyboard{
         display: block;
         width: 44.5rem;
         height: 32rem;
         border-radius: 2rem;
         margin-top: 21.417rem;
     }
     .section2{
         min-width: 68.9rem;
         height: 10.8rem;
         display: flex;
         flex-direction: row;
         column-gap: 3.6rem;
         top: 101.7rem;
        
        
     }
     .title2>h1{
         text-align: left;
     }
     .paragraph2>p{
         text-align: left;
 
 
     }
     .title2{
         width: 25.5rem;
         height: 10.8rem;
  
         margin-left: 2.1rem;
         
     }
     .paragraph2{
         width: 39.8rem;
         height: 7.8rem;
         margin-top: 1.5rem;
         margin-right: 4rem;
         margin-left: 0rem;
     }
     h1,
     p{
         text-align: left;
     }
     .container1,
     .container2,
     .container3,
     .container4{
         align-items: normal;
         width: 28.1rem;
     }
     .paragraph3,
     .paragraph4,
     .paragraph5,
     .paragraph6{
         margin-left: 0;
         width: 28.1rem;
         height: 10.4rem;
     }
     .whole{
         display: grid;
         width: 63.1rem;
         height: 65rem;
         grid-template-columns: max-content 770px;
         column-gap: 6.9rem;
         row-gap: 7.2rem;
         top:126.7rem;
         left: 2.1rem;
     }
    .last-container{
     top: 205.9rem;
     
     left: 24.7rem;
    }
    
 }
 
 @media screen and (min-width: 900px) {
 
     header{
         margin-top: 6.4rem;
     }
     .logo{
         margin-left: 12.6rem;
     }
     .pre-order1{
         margin-right: 12.5rem;
     }
     
     
     .keyboard-desktop{
         display: block;
         border-radius: 2rem;
         width: 54rem;
         height: 48rem;
         margin-top: 17.25rem;
         margin-left: 17.65rem;
 
     }
     .keyboard-tablet{
         display: none;
         
     }
     .keyboard{
         width: 132.6rem;
         height: 74.6rem;
         top:2.35rem;
         left: 50.85rem;
         display: flex;
         flex-direction: row;
         column-gap: 3rem;
     }
     .title{
         width: 44.5rem;
         height: 11.2rem;
         margin-left: 0;
     }
     .title>h1{
       
         font-size: 56px;
         font-weight: 900;
         line-height: 56px;
         letter-spacing: 0px;
         text-align: left;
 
     }
     .paragraph>p{
             
         font-size: 18px;
         font-weight: 500;
         line-height: 26px;
         letter-spacing: 0px;
         text-align: left;
 
     }
     .paragraph{
         width: 44.5rem;
         height: 7.8rem;
         margin-left: 0;
     }
     .active{
         justify-content: normal;
         column-gap: 4rem;
         margin-left: 0;
     }
     .gray{
         display: block;
         background-color: #E8EFF2;
         width: 25.5rem;
         height: 24rem;
         border-radius: 2rem;
         margin-top: 17.25rem;
     }
     .text{
         margin-left: 12.6rem;
     }
     .section2{
         flex-direction: column;
         top: 81.8rem;
         left: 102rem;
 
         
     }
     .title2{
         margin-left: 0;
     }
     .tablet-phone-keyboard,
     .tablet-glass-keyboard{
         display: none;
     }
     .gray2{
         background-color: #E8EFF2;
         width: 25.5rem;
         height: 23.6rem;
         border-radius: 2rem;
         position: absolute;
         top: 95rem;
         left: -12rem;
     }
     .desktop-phone-keyboard{
         display: block;
         width: 25.5rem;
         height: 48rem;
         border-radius: 2rem;
         mix-blend-mode: multiply;
         
     }
     .desktop-glass-keyboard{
         display: block;
         width: 44.5rem;
         height: 48rem;
         border-radius: 2rem;
         margin-top: 15.35rem;
     }
     
     .title2{
         width: 25.5rem;
         height: 10.8rem;
 
     }
     .paragraph2{
         width: 25.5rem;
         height: 13rem;
     }
     .orange{
         width: 25.5rem;
         height: 48rem;
         margin-top: 3.5rem;
         margin-left: 5.45rem;
        
     }
     .image1{
         top: 66.9rem;
         left: 11.05rem;
         
     }
     .image2{
         top: 55.25rem;
         left: 45.05rem;
     }
     .whole{
         display: flex;
         flex-direction: row;
     }
     .last-container{
         top: 180.5rem;
         left: 56.8rem;
     }
     
 }
